@FontSize1: 36px;
@FontSize2: 24px;
@FontSize3: 16px;
@FontSize4: 12px;

@BG: #E6E7E9;
@LightBG: #FFF;
@DarkBG: #323338;
@LightGrey: #e6e6e6;
@DarkGrey: #5A5E6A;

@ToolboxWidth: 300px;

@BorderRadius: 5px;

@editbox_width: 1000px;
@editbox_height: 400px;

html {
	height: 100%;
}
body {
	background-color: @LightBG;
	font-family: Verdana, Geneva,'微軟雅黑體', 'Microsoft YaHei', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
	height: 100%;
}
input:focus {
	outline: none;
}
.header {
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: @FontSize2;
	background-color: @DarkBG;
	span{
		color: @LightGrey;
	}
}
.toolbox {
	background-color: @LightGrey;
	width: @ToolboxWidth;
	height: 100vh;
	position: fixed;
	left: -@ToolboxWidth;
	top: 0;
	transition: left .3s linear;
	z-index: 99;
	::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: @LightGrey;
	}

	::-webkit-scrollbar
	{
		width: 12px;
		background-color: @LightGrey;
	}

	::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: @BG;
	}
	.switch {
		background-color: @LightGrey;
		height: 60px;
		width: 30px;
		position: fixed;
		top: 50%;
		left: 0;
		margin-top: -30px;
		border-top-right-radius: @BorderRadius;
		border-bottom-right-radius: @BorderRadius; 
		cursor: pointer;
		transition: left .3s linear;
		img {
			position: fixed;
			top: 50%;
			margin-top: -15px;
			width: 30px;
			height: 30px;
		}
		
	}
	.title {
		font-size: @FontSize2;
		text-decoration: underline;
		text-align: center;
		color: @DarkGrey;
	}
	&.open {
		left: 0;
		.switch {
			left: @ToolboxWidth;
			img {
				transform: rotate(180deg);
				-moz-transform:rotate(180deg);
				-webkit-transform:rotate(180deg);
				-o-transform:rotate(180deg);
				-ms-transform:rotate(180deg);
			}
		}
	}
	.chart_cata{
		margin-top: 10px;
		overflow-y: scroll;
    	height: 100%;
		.add-element{
			height: 150px;
			width: 260px;
			background-color: #FFF;
			border-radius: @BorderRadius;
			margin: 10px 14px;
			padding-top: 5px;
			cursor: pointer;
			display: inline-block;
			&:last-child{
				margin-bottom: 50px;
			}
		}
	}
}
.chart_box{
	padding: 40px 0px;
	min-height: 400px;
	// max-width: 1583px;
	overflow-x: hidden;
}
.box {
	display: inline-block;
	
	min-width: 340px;
	// padding: 10px;
	
	background-color: @LightBG;
	border: 1px solid @LightGrey;
	border-radius: @BorderRadius;
	position: relative;
	cursor: pointer;
	// resize: horizontal;
	// overflow:auto;
	&.box-1{
		width: 23%;
    	margin: 10px .9%;
	}
	&.box-2{
		width: 48%;
    	margin: 10px .9%;
	}
	&.box-3{
		width: 73%;
    	margin: 10px .9%;
	}
	&.box-4{
		width: 98%;
    	margin: 10px .9%;
	}
	.more {
		position: absolute;
		top: 10px;
		left: 10px;
		height: 20px;
	    // width: 50px;
	    // text-align: left;		
	    &:hover {
			.circle{
				background-color: @LightGrey;
			}
		}
		.circle {
			height: 6px;
			width: 6px;
			margin: 2px;
			display: inline-block;
			border-radius: 50%;
			background-color: @DarkGrey;
		}	
		.menu {
			display: none;
			background-color: #FFF;
		    padding: 10px 5px;
		    border: 1px solid @LightGrey;
		    border-top: none;
		    position: absolute;
		    top: 20px;
		    font-size: @FontSize3;
		    z-index: 1;
		    width: 50px;
		    div {
				padding: 5px 0;
		    }
		}
	}
	.title {
		height: 30px;
		line-height: 30px;
		font-size: @FontSize3;
		text-align: center;
		color: @DarkGrey;
	}
	.chart {
		// background-color :#FFF;
	}
	&:hover{
		.edit {
			display: block;
		}
	}
	&.shake{
		animation: shake 150ms infinite;
		-moz-animation: shake 150ms infinite;
		-webkit-animation: shake 150ms infinite;
		-o-animation: shake 150ms infinite;
	}
	.c3 .c3-axis path, .c3 .c3-axis line{
		stroke: @DarkGrey;
	}
	.c3 .c3-axis .tick, .c3-legend-item text{
		font-size: @FontSize4;
		fill:@DarkGrey;
	    stroke:none;
	}
}
.black_cover {
	display: none;
	position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,.5);
}
.ui-sortable-placeholder{
	border: 1px dashed @DarkGrey;
    background-color: #FFF;
    display: inline-block;
    margin: 0 .9%;
    border-radius: @BorderRadius;
}
.editbox {
	display: none;
	position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -@editbox_height/2;
    margin-left: -@editbox_width/2;
    padding: 10px 20px;
    height: @editbox_height;
    width: @editbox_width;
    z-index: 200;
    background-color: #FFF;
    border-radius: @BorderRadius;
    font-size: @FontSize3;
    input {
    	border: none;
    	border-bottom: 1px solid @LightGrey;
    	height: 30px;
    	width: 300px;
    	padding: 0 10px;
    	font-size: @FontSize3;
    	line-height: 29px;
    	&:hover, &:focus {
    		border-bottom-color: @DarkGrey;
    	}
    }
    label {
    	display: inline-block;
    	width: 150px;
    	line-height: 30px;
    	float: left;
    }
    .editarea{
    	margin-top: 20px;
    }
    .delete {
    	position: absolute;
    	text-align: center;
	    right: 0px;
	    top: -5px;
	    font-size: 24px;
	    height: 25px;
	    width: 25px;
	    cursor: pointer;
	    &:hover {
			color: @LightGrey;
	    }
    }
    .title {
    	display: block;
    	text-align: center;
		margin: 0 auto;
    }
    .savebtn, .cancelbtn {
		color: #FFF;
		font-size: @FontSize3;
    	display: inline-block;
    	width: 100px;
    	height: 35px;
    	position: absolute;
    	bottom: 5px;
    	left: 50%;
		border-radius: @BorderRadius;
		border-color: transparent;
		cursor: pointer;
    }
    .savebtn {
    	margin-left: -150px;
    	background-color: #006dcc;
    	&:hover {
    		background-color: #0057a3;
    	}
    }
    .cancelbtn{
    	margin-left: 50px;
    	background-color: #FF6600;
    	&:hover {
			background-color: #cc5100;
    	}
    }
    .dropdownmenu{
    	display: inline-block;
    	cursor: pointer;
    	width: 200px;
    	.currenttype{
    		height: 30px;
    		border-bottom: 1px solid @LightGrey;
    	}
    	.type {
    		padding: 0 10px;
    		line-height: 30px;
    	}
    	.arrow {
    		float: right;
    		img {
    			width: 20px;
	    		height: 20px;
	    		margin-top: 10px;
	    		transform: rotate(90deg);
				-moz-transform:rotate(90deg);
				-webkit-transform:rotate(90deg);
				-o-transform:rotate(90deg);
				-ms-transform:rotate(90deg);
    		}
    		&.open img{
				transform: rotate(270deg);
				-moz-transform:rotate(270deg);
				-webkit-transform:rotate(270deg);
				-o-transform:rotate(270deg);
				-ms-transform:rotate(270deg);
    		}
    		
    	}
    	.option {
    		display: none;
    		position: relative;
		    border: 1px solid @LightGrey;
		    border-top-color: transparent;
		    padding: 5px;
		    div{
		    	line-height: 22px;
		    	padding: 0 5px;
				&:hover {
					background: @LightGrey;
				}
		    }
    	}
    }
}
@keyframes shake {
	0% {
		transform: translate(1px, 0);
	}
	50% {
	    transform: translate(-1px, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

